:root {
  --primary-color: #ff6161;
  --secondary-color: #ff5959;
  --tersiary-color: #f05151;
  --header-color-primary: #2d2e2e;
  --header-color-secondary: grey;
  --pending-task-color: #4d4f4f;
  --complete-task-color: var(--primary-color);
  --footer-icon-color: --header-color-primary;
  --popup-border: transparent;
  --popup-hover-color: #a6abad;
  --popup-primary-color: #616263;
  --popup-secondary-color: #45464a;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::after, *::before {
  display: inline-block;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  overflow: hidden;
}

.container {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}

.todo__tasks__list {
  height: 95vh;
  width: 95vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 4fr;
      grid-template-rows: 3fr 4fr;
  font-size: 2rem;
}

.todo__tasks__list__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todo__tasks__list__name__link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-color);
}

.todo__tasks__list__name__link::after, .todo__tasks__list__name__link::before {
  content: " ";
  border: 0.1rem var(--popup-hover-color) solid;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.todo__tasks__list__name--delete {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: var(--header-color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo__tasks__list__name--delete span {
  font-size: 3.5rem;
  display: inline;
}

.todo__tasks__list__name--delete span::after {
  content: "delete_sweep";
}

.todo__tasks__list__name--delete span:hover, .todo__tasks__list__name--delete span:active {
  font-size: 3rem;
  color: var(--tersiary-color);
}

.todo__tasks__list__name--delete span:active {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.todo__tasks__list__name--back {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo__tasks__list__name--back a {
  display: inline;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  border-radius: 50%;
  background-color: var(--header-color-secondary);
}

.todo__tasks__list__name--back a::after {
  content: 'reply';
}

.todo__tasks__list__name--back a:hover, .todo__tasks__list__name--back a:active {
  font-size: 2.8rem;
  background-color: var(--tersiary-color);
}

.todo__tasks__list__name--back a:active {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.todo__tasks__list__task {
  font-family: monospace;
  color: var(--pending-task-color);
  overflow-y: scroll;
}

.todo__tasks__list__task input[type="checkbox"] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-left: 1rem;
}

.todo__tasks__list__task input[type="checkbox"]:checked {
  opacity: 5%;
}

.todo__tasks__list__task input[type="checkbox"]:checked + lable {
  color: var(--complete-task-color);
  text-decoration: line-through;
}

.todo__tasks__list__task--input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  margin: .5rem 0;
}

.todo__tasks__list__task--input textarea {
  font-size: 2rem;
  width: 80%;
  resize: vertical;
  border: 0.1rem solid var(--popup-primary-color);
  border-radius: .2em;
}

.todo__tasks__list__task--input lable {
  color: greenyellow;
}

.todo__tasks__list__task--input lable:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.todo__tasks__list__task--input lable:active {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.todo__tasks__list__task--scroll {
  overflow-y: scroll;
  border: thin solid var(--primary-color);
  border-bottom: none;
  border-start-end-radius: .25em;
  border-start-start-radius: .25em;
  padding: .5em 0 0 .5em;
}

.todo__tasks__list__task--scroll div:nth-child(n+2) {
  margin-top: .25em;
}

.todo__tasks__list__icon {
  color: var(--primary-color);
  width: 100%;
  text-align: right;
  border: thin solid var(--primary-color);
  border-top: none;
  border-end-end-radius: .25em;
  border-end-start-radius: .25em;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 0.5em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5em rgba(0, 0, 0, 0.1);
}

.todo__tasks__list__icon span {
  font-size: 3rem;
}

.todo__tasks__list__icon span:first-child::after {
  content: "add_box";
}

.todo__tasks__list__icon span:first-child:hover, .todo__tasks__list__icon span:first-child:active {
  font-size: 2rem;
  color: var(--popup-primary-color);
}

.todo__tasks__list__icon span:first-child:active {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.todo__tasks__list__icon span:last-child {
  background-clip: text;
}

.todo__tasks__list__icon span:last-child::after {
  content: "refresh";
}

.todo__tasks__list__icon span:last-child:hover, .todo__tasks__list__icon span:last-child:active {
  font-size: 2rem;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
    background-image: linear-gradient(45deg, var(--primary-color), var(--primary-color), white, var(--primary-color), var(--primary-color));
  }
  to {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
    background-image: linear-gradient(135deg, var(--primary-color), var(--primary-color), white, var(--primary-color), var(--primary-color));
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
    background-image: linear-gradient(45deg, var(--primary-color), var(--primary-color), white, var(--primary-color), var(--primary-color));
  }
  to {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
    background-image: linear-gradient(135deg, var(--primary-color), var(--primary-color), white, var(--primary-color), var(--primary-color));
  }
}

.pop-up {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  border: thin solid var(--popup-border);
  border-radius: 0.5em;
  padding: 0.5em;
  display: -ms-grid;
  display: grid;
  place-items: center stretch;
  font-size: 2rem;
  -webkit-transition: opacity 0.1s ease-out, top 0.5s;
  transition: opacity 0.1s ease-out, top 0.5s;
  opacity: 0;
  min-width: 80vw;
  max-height: 80vh;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  grid-auto-rows: 1fr;
}

.pop-up__container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.pop-up > :nth-child(n):not(:last-child):not(.pop-up__close) {
  margin-bottom: .5em;
}

.pop-up__header {
  font-size: inherit;
  color: var(--primary-color);
  -ms-grid-column-align: center;
      justify-self: center;
}

.pop-up__close {
  -ms-grid-row: 1;
  grid-row: 1;
  place-self: end;
  color: var(--popup-primary-color);
}

.pop-up__close:hover, .pop-up__close:active {
  font-size: .8em;
}

.pop-up__close:active {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.pop-up__input {
  font-size: inherit;
  color: var(--popup-primary-color);
  border: thin solid var(--primary-color);
  border-radius: 0.2em;
}

.pop-up__input:focus {
  outline: var(--secondary-color) solid 1px;
  color: black;
  font-size: 1.1em;
}

.pop-up__btn {
  font-size: inherit;
  background: var(--primary-color);
  border-radius: 0.5em;
  padding: 0.1em 1.5em;
  border: none;
  color: white;
  -ms-grid-column-align: center;
      justify-self: center;
}

.pop-up__btn:hover, .pop-up__btn:active {
  font-size: .8em;
  -webkit-box-shadow: 0.1em 0.2em rgba(0, 0, 0, 0.25);
          box-shadow: 0.1em 0.2em rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.pop-up__btn:active {
  background: var(--secondary-color);
  -webkit-transform: revert;
          transform: revert;
}

.pop-up__body {
  height: 100%;
  color: var(--popup-primary-color);
  margin: 2rem;
  word-spacing: 0.5em;
  overflow-y: scroll;
}

.pop-up__body--animation {
  place-self: center;
  color: transparent;
  font-size: 5rem;
  background-clip: text;
}

.pop-up__body--animation::after {
  content: 'autorenew';
}

.pop-up__body > *:nth-child(n+2) {
  margin-bottom: .5em;
}

#loading-animation {
  background-color: transparent;
}

@media (min-width: 44em) {
  .todo__tasks__list {
    -ms-grid-rows: 1fr max-content;
        grid-template-rows: 1fr -webkit-max-content;
        grid-template-rows: 1fr max-content;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 5%;
            column-gap: 5%;
  }
  .todo__tasks__list__name {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/ span 2;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  .todo__tasks__list__task--scroll {
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 2;
    grid-column: 2/2;
  }
  .todo__tasks__list__icon {
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column: 2;
    grid-column: 2/2;
  }
  .pop-up {
    min-width: 40%;
    min-height: 21%;
  }
}
/*# sourceMappingURL=style2.css.map */