:root {
    --primary-color: #ff6161;
    --secondary-color: #ff5959;
    --tersiary-color: #f05151;
    --header-color-primary: #2d2e2e;
    --header-color-secondary: grey;
    --pending-task-color: #4d4f4f;
    --complete-task-color: var(--primary-color);
    --footer-icon-color: --header-color-primary;
    --popup-border: transparent;
    --popup-hover-color: #a6abad;
    --popup-primary-color: #616263;
    --popup-secondary-color: #45464a;
}
@mixin _center($X:50%, $Y:50%) {
    position: absolute;
    top: $X;
    left: $Y;
    transform: translate(-50%, -50%);

}

@mixin _centerX($X:50%) {
    position: absolute;
    left: $X;
    transform: translateX(-50%);
}

@mixin _centerY($Y:50%) {
    position: absolute;
    top: $Y;
    transform: translateY(-50%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::after,
    &::before {
        display: inline-block;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    overflow: hidden;
}
.container {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    background-color: white;
}
.todo {
    @include _center();
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-rows: min-content auto;
    &__header {
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-rows: min-content;
        gap: 0.5rem;
        place-items: left center;

        &__1 {
            font-size: 6rem;
            font-weight: bold;
            color: var(--header-color-primary);
        }

        &__2 {
            font-size: 5rem;
            color: var(--header-color-secondary);
            font-weight: lighter;
            grid-column: 1/1;
        }

        &__3 {
            grid-column: 2/2;
            grid-row: 1 / span 2;
            font-size: 2.5rem;
            color: var(--header-color-secondary);
            display: flex;
            gap: 1rem;
            align-items: center;
            text-align: center;

            i {
                font-size: 3rem;
                width: 3rem;
                color: var(--primary-color);
                flex-grow: 0;
                flex-shrink: 0;

                &:hover,
                &:active {
                    font-size: 3.2rem;
                    color: var(--secondary-color);
                    transform: translateY(-10%);
                }

                &:active {
                    font-size: 2.8rem;
                    transform: translateY(25%);
                }
            }
        }
    }

    &__tasks {
        font-size: 2rem;
        display: grid;
        grid-auto-rows: max-content;
        overflow-y: scroll;

        &__list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border: thin solid var(--primary-color);
            border-radius: 0.25em;
            padding: .5em 0 0 .5em;
            margin-bottom: 1em;
            box-shadow: 0 .5em rgba(0, 0, 0, 0.1);

            &__name{
                display: grid;
                grid-template-columns: auto min-content;
                border-bottom: 1px solid var(--popup-secondary-color);

                &__link {
                    grid-column: 1;
                    grid-row: 1;
                    place-self: center;
                    text-decoration: none;
                    color: var(--primary-color);
                }
                &--delete {
                    grid-column: 2;
                    width: 2.5rem;
                    min-height: 2.5rem;
                    text-align: right;

                    span {
                        font-size: 2.5rem;
                        color: var(--primary-color);

                        &::after {
                            content: "delete_sweep";
                        }

                        &:hover,
                        &:active {
                            font-size: 2rem;
                            color: var(--popup-primary-color);
                        }

                        &:active {
                            transform: translateY(15%);
                        }
                    }
                }
            }
            &__task{
                font-family: monospace;
                color: var(--pending-task-color);
                overflow-y: scroll;

                &--scroll {
                    flex-grow: 1;
                    padding: .1rem;
                }
                input[type="checkbox"] {
                    transform: scale(1.5);
                    margin-left: .5rem;

                    &:checked {
                        opacity: 5%;

                        &+lable{
                            color: var(--complete-task-color);
                            text-decoration: line-through;
                        }
                    }
                }
                &--input {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                    margin: .5rem 0;

                    textarea {
                        font-size: 2rem;
                        width: 80%;
                        resize: vertical;
                        border: .1rem solid var(--popup-primary-color);
                        border-radius: .2em;
                    }

                    lable {
                        color: greenyellow;

                        &:hover {
                            transform: translateY(-10%);
                        }

                        &:active {
                            transform: translateY(10%);
                        }
                    }
                }
            }
            &__icon {
                color: var(--primary-color);
                text-align: right;

                span {
                    font-size: 2.5rem;

                    &:first-child {

                        &::after {
                            content: "add_box";
                        }
                        &:hover, &:active{
                            font-size: 2rem;
                            color: var(--popup-primary-color);
                        }
                        &:active {
                            transform: translateY(10%);
                        }
                    }
                    &:last-child {
                        background-clip: text;

                        &::after {
                            content: "refresh";
                        }
                        &:hover, &:active{
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}
@keyframes rotate {
    from {
        transform: rotate(0turn);
        background-image: linear-gradient(45deg, var(--primary-color), var(--primary-color), white,var(--primary-color), var(--primary-color));
    }

    to {
        transform: rotate(2turn);
        background-image: linear-gradient(135deg, var(--primary-color), var(--primary-color), white,var(--primary-color), var(--primary-color));
    }
}

.pop-up {
    @include _center(0);
    background: white;
    border: thin solid var(--popup-border);
    border-radius: 0.5em;
    padding: 0.5em;
    display: grid;
    place-items: center stretch;
    font-size: 2rem;
    transition: opacity 0.1s ease-out, top 0.5s;
    opacity: 0;
    min-width: 80vw;
    max-height: 80vh;
    grid-template-rows: min-content min-content;
    grid-auto-rows: 1fr;
    
    &__container {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }
    &>:nth-child(n):not(:last-child):not(&__close) {
        margin-bottom: .5em;
    }
    &__header{
        font-size: inherit;
        color: var(--primary-color);
        justify-self: center;
    }
    &__close {
        grid-row: 1;
        place-self: end;
        color: var(--popup-primary-color);

       &:hover,
       &:active {
           font-size: .8em;
       }

       &:active {
           transform: translateY(5%);
       }
    }
    &__input{
        font-size: inherit;
        color: var(--popup-primary-color);
        border: thin solid var(--primary-color);
        border-radius: 0.2em;

        &:focus{
            outline: var(--secondary-color) solid 1px;
            color: black;
            font-size: 1.1em;
        }
    }
    &__btn{
        font-size: inherit;
        background: var(--primary-color);
        border-radius: 0.5em;
        padding: 0.1em 1.5em;
        border: none;
        color: white;
        justify-self: center;

        &:hover, &:active{
            font-size: .8em;
            box-shadow: 0.1em 0.2em rgba(0, 0, 0, 0.25);
            transform: translateY(-10%);
        }
        &:active{
            background: var(--secondary-color);
            transform: revert;
        }
    }
    &__body{
        height: 100%;
        color: var(--popup-primary-color);
        margin: 2rem;
        word-spacing: 0.5em;
        overflow-y: scroll;

        &--animation {
            place-self: center;
            color: transparent;
            font-size: 5rem;
            background-clip: text;

            &::after {
                content: 'autorenew';
            }
        }
        & > *:nth-child(n+2) {
            margin-bottom: .5em;
        }
    }
}
#loading-animation {
    background-color: transparent;
}
@media (min-width: 44em) {
    .todo {
        height: unset;
        max-height: 100%;
        width: 95vw;

        &__header {
            grid-template-columns: min-content min-content auto;

            &__2 {
                grid-column: 2/2;
                align-self: flex-end;
            }
            &__3 {
                justify-self: end;
                grid-column: 3/3;
                grid-row: 1/1;
            }
        }
        &__tasks {
            display: flex;
            gap: 2%;
            justify-content: space-between;
            padding-right: 1em;
            flex-wrap: wrap;

            &__list {
                flex: 0 0 32%;
                box-shadow: .5em .5em rgba(0, 0, 0, 0.1);
            }
        }
    }
    .pop-up {
        min-width: 40%;
        min-height: 21%;
    }
}